<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tik.pnj.laporanodp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/puskesmas_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.profile.ProfilePasienActivity"></activity>
        <activity android:name=".ui.ChangePasswordPasienActivity" />
        <activity
            android:name=".ui.DashboardPasienActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.laporan.listodp.ListOdpPasienActivity" />
        <activity
            android:name=".ui.LoginMenuActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.LoginPjActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.laporan.listlaporan.ListLaporanActivity" />
        <activity android:name=".ui.profile.update.UpdateProfileActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.laporan.input.InsertLaporanActivity" />
        <activity android:name=".ui.laporan.listodp.ListOdpActivity" />
        <activity android:name=".ui.ChangePasswordActivity" />
        <activity
            android:name=".ui.DashboardActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.LoginPasienActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiverPagi"
            android:process=":remote" />
        <receiver
            android:name=".receiver.AlarmReceiverSiang"
            android:process=":remote" />
    </application>

</manifest>